Django==6.0
djangorestframework==3.16.1
pillow==12.0.0
gunicorn==23.0.0
whitenoise==6.11.0
# drf-spectacular==0.29.0 ## Ainda preciso ver se é necessario
scikit-learn==1.8.0
numpy==2.3.5
pandas==2.3.3
joblib==1.5.2